.wrapper-logo-icon:before {
    content: url("/_Resources/Static/Packages/BaisFodpleje.Site/Frontend/img/BaisLogo-small-green.png");
}
.wrapper-lotus-icon:before {
    content: url("/_Resources/Static/Packages/BaisFodpleje.Site/Frontend/img/lotus.png");
}
.wrapper-fod-icon:before {
    content: url("/_Resources/Static/Packages/BaisFodpleje.Site/Frontend/img/fod.jpeg");
}

.wrapper-ruler-grey {
position: relative;
z-index: 20;
margin-left: auto;
margin-right: auto;
margin-top: -18px;
display: block;
width: 42px;
height: 42px;
text-align: center;
background: #fff;
border-radius: 50%;
border: 1px solid rgba(39,48,57,0.1);
font-size: 20px;
line-height: 1em;
padding-top: 10px;
padding-left: 2px;
box-shadow: 0 0 0 8px #f3f4f6;
}

.wrapper-ruler-white {
position: relative;
z-index: 20;
margin-left: auto;
margin-right: auto;
margin-top: -18px;
display: block;
width: 42px;
height: 42px;
text-align: center;
background: #fff;
border-radius: 50%;
/*border: 1px solid rgba(39,48,57,0.1); */
font-size: 20px;
line-height: 1em;
padding-top: 10px;
padding-left: 2px;
box-shadow: 0 0 0 8px white;
}

.wrapper:after {
content: "";
display: block;
height: 1px;
/*width: 50%; */
position: relative;
margin-top: -20px;
margin-left: auto;
margin-right: auto;
background: rgba(39,48,57,0.15);
z-index: 10;
}
